.DS_Store
.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
node_modules
package-lock.json
.cursorrules
.cursorignore
.cursorignore.local
.cursorignore.development
.cursorignore.test
.cursorignore.production
.cursorignore.local.development
.cursorignore.local.test
.cursorignore.local.production
.cursorignore.development.test
.cursorignore.development.production
.cursorignore.test.production
.cursorignore.local.development.test
.cursorignore.local.development.production
.cursorignore.local.test.production
.cursorignore.development.test.production
.cursorignore.development.production.test
.cursorignore.test.production.development
.cursorignore.test.production.production
.cursorignore.production.test.development
.cursorignore.production.test.production
.cursorignore.production.development.test
.cursorignore.production.development.production
config.js
